@mixin bp($point) {
  @if $point == monitor {
    @media (min-width: 769px) { @content; }
  }
  @else if $point == ipad {
    @media (max-device-width: 768px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 720px)  { @content; }
  }
  @else if $point == iphone {
    @media (max-width: 320px)  { @content; }
  }
}

body, html{
	height: 100%;
}

body{
	background: url(../img/struckaxiom.png) top left repeat;
	background-position:fixed;
}

.clear{
	clear:both;
}

.fullHeight{
	height: 100%;
	overflow: scroll;
}

.button{
	margin-left: 10px;
	border-radius: 100px;
	font-weight: 400!important;
	font-family:'Open Sans', helvetica, arial, sans-serif;
	&.secondary{
		-webkit-box-shadow: 0 2px #DADADA;
		-moz-box-shadow: 0 2px #DADADA;
		box-shadow: 0 2px #DADADA;
	}
}

p{
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	color: #313131;
	font-size: 14px;
	margin-left:10px;
}

.row, .inner-wrap, .off-canvas-wrap{
	height: 100%;
}

div#jp_container_N
{
//width:100px;
// position:absolute;
right:25px;
}

.logo{
	width: 181px;
	height: auto;
	-webkit-box-shadow: 0 0 5px #8D8D8D;
	 -moz-box-shadow: 0 0 5px #8D8D8D;
	 box-shadow: 0 0 5px #8D8D8D;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	position: relative;
	z-index: 3;
}

.masterlist{
	border: solid 1px #E0E0E0;
	background: #FFF;
	-webkit-box-shadow: 0 0 10px #D6D6D6;
	-moz-box-shadow: 0 0 10px #D6D6D6;
	box-shadow: 0 0 10px #D6D6D6;
	padding: 10px;
}

.filez{
	cursor: pointer;
	width: 100%;
	background: rgb(255, 255, 255);
	color: rgb(37, 37, 37);
	font-size: 10pt;
	text-shadow: 0 1px rgb(255, 255, 255);
	font-weight: 300;
  border-bottom: solid 1px rgb(180, 180, 180);
	padding:13px 10px;
	&:hover{
		background-color: #F5F5F5;
	}
}

.dirz{
padding: 10px;
	@extend .filez;
}

.back{
	@extend .filez;
}

.artistz{
  @extend .filez;
}

.albumz{
  @extend .filez;
}

.playlistz{
  @extend .filez;
}

#playlist_container{
	ul {
		margin:0;
    border-top: solid 2px rgb(180, 180, 180);
		li{
			@extend .filez;
			list-style-type:none;
			overflow: hidden;
		}
	}
}

.dirz:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.back:hover{
background-color:rgba(230, 154, 23, 0.3);
}

.controls{
	margin-bottom:10px;
}

.add_all{
	clear: both;
	padding: 10px 0 0;
	width: 300px;
	text-transform: uppercase;
	font-weight: 500;
	&:hover{
		color: #73B9FF;
	}
}

ul.jp-controls{
	li{
		list-style-type: none!important;
	}
}

#downform{
	position:absolute;
}

.controls{
	div{
		cursor: pointer;
	}
}

.main-section{
	padding-bottom: 96px;
	position: relative;
	z-index: 1;
	@extend .fullHeight;
}

.libraryColumn{
	background: rgba(255, 255, 255, 0.8);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(202, 202, 202);
	padding: 0;
	@extend .fullHeight;
}

.playlistColumn{
	@extend .libraryColumn;
	margin-left: 1%;
	width: 100%;
	li{
		padding:0!important;
	}
	@include bp(phone){
		margin-left:0;
	}
	@include bp(ipad){
		margin-left:0;
	}
}

// controls
.controls{
	float:right;
	padding-top: 10px;
	margin-bottom: 0;
	a{
		width: 20px;
		margin:0px 5px;
		text-align:center;
		float:left;
		opacity: 0.5;
			&:hover{
				opacity:1;
			}
	}
}

.leftControls a{
	float:right;
	margin-bottom:5px;
}

.noPaddingLeft{
	padding-left:0!important;
}

// Jplayer

.jplay{
	position: fixed;
bottom: 0;
width: 100%;
}

.jp-audio{
	width: 100%!important;
position: fixed;
bottom: 0;
left: 0;
}

h3{
	padding: 10px 10px 0;
	font-size: 20px;
	font-weight: 500;
	color: rgb(90, 90, 90);
}

.directoryName{
	font-size: 16px;
	float:left;
	font-weight: 500;
}

.backButton{
	display: block;
	float: left;
	margin: 5px 10px 0 10px!important;
	border: 0!important;
	background: 0!important;
	padding: 3px 0px 0 0px!important;
}

.directoryTitle{
	background-color: #F5F5F5;
	display: block;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	overflow: hidden;
	padding: 7px 0;
	margin-top: 10px;
}

.row{
	margin: 0;
	max-width:none;
}

.scraper{
	padding: 5px;
	background: #F5F5F5;
	border: solid 1px #EEE;
	overflow: hidden;
	border-radius: 3px;
	label{
		color: #6666ff;
		float:right;
		margin: 0;
	}
	input{
		margin:0 5px 0 0;
	}
}

.closeit{
	float: right;
	color: #ACACAC;
	border: solid 2px #CACACA;
	background-color: #E9E9E9;
	padding: 5px;
	font-weight: bold;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 15px;
	text-transform: lowercase;
	line-height: 7px;
	padding-bottom: 8px;
	margin-top: 6px;
	margin-right: 6px;
	&:hover{
		color: #555;
	}
	@include bp(phone){
		position: absolute;
		margin-left: -20px;
		margin-top: 8px;
	}
}

.jp-current-time{
	position: relative;
	left: 110px;
	top: 10px;
}

.jp-duration{
	position: relative;
	right: 110px;
	top: 10px;
}

.play1{
	display:block;
	padding: 10px;
	width: 95%;
	float: left;
}

// Tabs

.content{
	@include bp(monitor){
		width: 50%;
		height: 100%;
		display:inline-block;
		float:left;
	}
	@include bp(ipad){
		width: 100%;
	}
}

.tabs-content > .content{
	@include bp(monitor){
		padding:0;
		display:inline-block!important;
	}
	@include bp(phone){
		width:100%;
	}
}

.tabs dd{
	width: 50%;
	border: 1px solid #CFCFCF;
	font-size: 20px;
	font-weight: 500;
	color: rgb(90, 90, 90);
	&:first-child{
		border-right: 0;
	}
	&:last-child{
		border-left: 0;
	}
}

.tabs-content{
		height:100%;
}

dl.tabs{
	@include bp(ipad){
		display:none;
	}
}

.clearing-thumbs{
	li{
		float: left!important;
		margin: 0px 3px 10px!important;
		width: auto!important;
	}
}

.search_db{
	max-width: 300px;
	margin:10px!important;
	-webkit-border-radius:  100px!important;
	-moz-border-radius:  100px!important;
	border-radius:  100px!important;
}

.searchList{
	h2{
		padding: 10px;
		font-size: 16px;
		font-weight: 500;
		color: #616161;
		border-bottom: solid 1px #d0d0d0;
	}
	ul{
		margin:0;
	}
	li{
		font-family:'Open Sans', helvetica, arial, sans-serif;
		font-size: 14px;
		padding:10px 10px;
		list-style-type:none;
		&:hover{
			background: #313131;
			color: #f9f9f9;
			cursor:pointer;
		}
	}
}
