.collection-item {
  display: flow-root;
}

.collection-item:hover {
  background-color: #EEE;
  cursor: pointer;
}

.collection-item svg {
  float: left;
}

.collection-item div {
  vertical-align: middle;
  height: 32.4px;
  float: left;
}

.pad-checkbox {
  padding-bottom: 20px;
}

a {
  cursor: pointer;
}

.logo-row {
  max-width: 500px;
}

.logo-row-mstream {
  max-width: 800px;
}