body, html {
  height: 100%; }

body {
  background: url(../img/struckaxiom.png) top left repeat;
  background-position: fixed; }

.clear {
  clear: both; }

.fullHeight   {
  height: 100%;
  overflow: scroll; }

.playlistColumn{
  height: 100%;
  overflow: hidden;
}

.flatline{
  height: 1px;
  width: 100%;
  background: #b4b4b4;
}

.libraryColumn {
  height: 100%;
  overflow: hidden;
}

.current {
background-color: #E6EBFA !important;
}

.scroll {
  overflow-y: scroll;
}

.scrollBoxHeight1{
  height: calc(100% - 60px);
}
@media (min-width: 644px) {
  .scrollBoxHeight1 {
    height: calc(100% - 100px); } }
@media (max-device-width: 643px) {
  .scrollBoxHeight1 {
    height: calc(100% - 60px); } }


.scrollBoxHeight2{
  height: calc(100% - 55px);
}

.scrollBoxHeight3{
  height: calc(100% - 215px);
}
@media (min-width: 644px) {
  .scrollBoxHeight3 {
    height: calc(100% - 215px); } }
@media (max-device-width: 643px) {
  .scrollBoxHeight3 {
    height: calc(100% - 55px); } }

.album-art-left-container{
  display: none;
}
@media (min-width: 644px) {
  .album-art-left-container {
    display: none; } }
@media (max-device-width: 643px) {
  .album-art-left-container {
    display: block;} }

.playerControls{
  height: 90px;
}
.albumArt{
  width: 90px;
  background-color: blue;
  height: inherit;
}

#panel1, #panel2 {
  /*overflow: scroll;*/
  height: 100%;
}



.ohidden {
  overflow: hidden;
}

.button {
  margin-left: 10px;
  border-radius: 100px;
  font-weight: 400 !important;
  font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .button.secondary {
    -webkit-box-shadow: 0 2px #DADADA;
    -moz-box-shadow: 0 2px #DADADA;
    box-shadow: 0 2px #DADADA; }

p {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #313131;
  font-size: 14px;
  margin-left: 10px; }

.row, .inner-wrap, .off-canvas-wrap {
  height: 100%; }

div#jp_container_N {
  right: 25px; }

.logo {
  width: 181px;
  height: auto;
  -webkit-box-shadow: 0 0 5px #8D8D8D;
  -moz-box-shadow: 0 0 5px #8D8D8D;
  box-shadow: 0 0 5px #8D8D8D;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  position: relative;
  z-index: 3; }

.masterlist {
  border: solid 1px #E0E0E0;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px #D6D6D6;
  -moz-box-shadow: 0 0 10px #D6D6D6;
  box-shadow: 0 0 10px #D6D6D6;
  padding: 10px; }

.filez, .dirz, .back, .artistz, .albumz, .playlist_row_container, .playlist-item, #playlist_container ul li {
  cursor: pointer;
  width: 100%;
  background: white;
  color: #252525;
  font-size: 10pt;
  font-weight: 300;
  border-bottom: solid 1px #b4b4b4;
  padding: 13px 10px; }
  .filez:hover, .back:hover, .artistz:hover,  .playlistz:hover, .playlist-item:hover #playlist_container ul li:hover {
    background-color: #F5F5F5; }

.dirz {
  padding: 10px; }

.deletePlaylist{
  width: 29px !important;
  height: 33px;
  background-color: 	rgba(255,0,0, .7);
  float: right;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
  font-size: 28px;
  text-shadow: 0 1px darkred;
  padding-bottom: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 0.9;
}

.deletePlaylist:hover{
  opacity: 1;
  background-color: 	rgba(255,0,0, .85);
}

.playlistz{
  display: block;
  padding: 10px;
  width: calc(100% - 29px);
  float: left;
}

.playlist_row_container{
  list-style-type: none;
  overflow: hidden;
  padding: 0 !important;
}

#playlist_container ul, .playlist-item {
  margin: 0;
  position: relative;
 }

#playlist_container ul li, .playlist-item {
    list-style-type: none;
    overflow: visible; }

.playlist-item::after {
  content: "";
  display: block;
  clear: both;
}

.dirz:hover, .albumz:hover, .artistz:hover, .playlistz:hover {
  background-color: rgba(230, 154, 23, 0.15); }

.back:hover {
  background-color: rgba(230, 154, 23, 0.3); }


.add_all {
  clear: both;
  padding: 10px 0 0;
  width: 300px;
  text-transform: uppercase;
  font-weight: 500; }
  .add_all:hover {
    color: #73B9FF; }

#search_folders{
  margin-top: 3px;
  width: calc(100% - 99px);
}

#mplayer{
  margin-left: 0px !important;
}

ul.jp-controls li {
  list-style-type: none !important; }

#downform {
  position: absolute; }

.controls div {
  cursor: pointer; }

.main-section {
  padding-bottom: 118px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.libraryColumn, .playlistColumn {
  background: rgba(255, 255, 255, 0.8);
  background: white;
  border: 1px solid #cacaca;
  padding: 0; }

.playlistColumn {
  margin-left: 5px;
  width: calc(100% - 5px); }
  .playlistColumn li, .playlist-item {
    padding: 0 !important; }
  @media (max-width: 642px) {
    .playlistColumn {
      margin-left: 0;
      width: 100%;} }
  @media (max-device-width: 643px) {
    .playlistColumn {
      margin-left: 0;
      width: 100%;} }

.controls {
  float: right;
  padding-top: 3px;}
  .controls a {
    width: 20px;
    margin: 0px 5px;
    text-align: center;
    float: left;
    opacity: 0.5; }
    .controls a:hover {
      opacity: 1; }

.leftControls a {
  float: right;
  margin-bottom: 5px; }

.rightControls{
  padding-top: 12px;
  margin-bottom: 8px;
}

.noPaddingLeft {
  padding-left: 0 !important; }



h3 {
  padding: 10px 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }

.directoryName {
  font-size: 14px;
  float: left;
  font-weight: 500;

  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:calc(100% - 95px);

  margin-bottom: 5px;
}

.backButton {
  display: block;
  float: left;
  margin: 5px 10px 0 10px !important;
  border: 0 !important;
  background: 0 !important;
  padding: 3px 0px 0 0px !important; }

.directoryTitle {
  background-color: #F5F5F5;
  display: block;
  border-bottom: 1px solid #b4b4b4;
  overflow: hidden;
  padding: 7px 0; }

.row {
  margin: 0;
  max-width: none; }



@media (min-width: 644px) {
  .content {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left; } }
@media (max-device-width: 643px) {
  .content {
    width: 100%; } }

@media (min-width: 644px) {
  .tabs-content > .content {
    padding: 0;
    display: inline-block !important; } }
@media (max-width: 642px) {
  .tabs-content > .content {
    width: 100%;
    padding-bottom: 50px} }

.tabs dd {
  width: 50%;
  border: 1px solid #CFCFCF;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }
  .tabs dd:first-child {
    border-right: 0; }
  .tabs dd:last-child {
    border-left: 0; }

.tabs-content {
  height: 100%;
  overflow: hidden;
}

@media (max-device-width: 643px) {
  dl.tabs {
    display: none; } }

.searchList h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  border-bottom: solid 1px #d0d0d0; }
.searchList ul {
  margin: 0; }
.searchList li {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  list-style-type: none; }
  .searchList li:hover {
    background: #313131;
    color: #f9f9f9;
    cursor: pointer; }


.main-overlay{
  position: absolute;

  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: calc(100% - 125px);
  background:rgba(0,0,0,1);
  z-index:99999;
}

.login-overlay{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.9);
  z-index:9;
}

.super-hide{
  display: none !important;
}

.login-icon{
  max-height: 200px;
  padding-top: 50px;
  display: block;
  margin: auto;
}



.mstream-player{
  position:fixed;
  bottom:0;
}


.share-textarea{
  height: 8em;
}
#share_time{
  width: 4em;
  float:left;
}
.share-time-post{
  width: 4em;
}

#metadata-panel {
  position: absolute;
  bottom: 0;
}

.metadata-panel-text {
  color: #999999;
  margin-bottom: 10px;
  margin-top: 0px;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-family: 'Jura', sans-serif;

  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.autoselect{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.meta-box{
  width: 100%;
  height: 160px;
  background: linear-gradient(to bottom right, #605C50, #333333);
  position: relative;
}

.meta-album-art{
  height: 100%;
  width: 150px;
  float: left;
}

.meta-spacer{
  width: 5px;
  float: left;
  height:5px;
}


.meta-info{
  height: 100%;
  width: calc(100% - 155px);
  float: left;
}

.folder-image{
  height: 20px;
  margin-right: 5px;
}

.music-image{
  height: 18px;
  margin-right: 5px;
}

.item-text{
  vertical-align: middle;
}

.hover-fill{
  opacity: 0.6;
}

.hover-fill:hover{
  opacity: 1;
}

.explorer-label-1{
  font-family: 'Jura', sans-serif;

  font-style: normal;
  font-size: 17px;
  line-height: 100%;
}
.album-art-box{
  height: 50px;
  margin-right: 10px;
}

.btnx-group .buttonx {
    background-color: #D66A0C;
    border: none;
    color: white;
    height: 28px;
    padding: 4px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    margin-bottom: 0px;
    margin-top: 8px;
    border-right: 1px solid #333333;
}

.buttonx {
  margin-top: 5px;
  font-family: 'Jura', sans-serif;
  font-weight: bold !important;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.78)
}

.r-button{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.l-button{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}

.radio-group{
    float:right;
    top:0;
    z-index: 8;
    height: 100%;
    position: absolute;
    right: 20px;
}
.btnx-group .buttonx:hover {
    background-color: #EF8341;
}



.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}


#pop {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 3px;
  border: 1.5px solid #ccc;
}

.columnHeader{
  position: relative;
  background-color: white;
  z-index: 999;
}

.columnHeader::after {
  content: "";
  display: block;
  clear: both;
}

#viz-canvas {
  width: 100%;
  height: 100%;
}

[v-cloak] {
  display: none;
}