body, html {
  height: 100%; }

body {
  background: url(../img/struckaxiom.png) top left repeat;
  background-position: fixed; }

.clear {
  clear: both; }

.fullHeight   {
  height: 100%;
  overflow: scroll; }

  .playlistColumn{
    height: 100%;
    overflow: hidden;
  }

.flatline{
  height: 1px;
  width: 100%;
  background: #b4b4b4;
}


.main-section{
  height: 100%;
}

.libraryColumn {
  height: 100%;
  overflow: hidden;
}

.current {
background-color: #E6EBFA !important;
}

.scroll {
  overflow-y: scroll;
}

.scrollBoxHeight1{
  height: calc(100% - 100px);
}
.scrollBoxHeight2{
  height: calc(100% - 50px);
}

#panel1, #panel2 {
  /*overflow: scroll;*/
  height: 100%;
}



.ohidden {
  overflow: hidden;
}

.button {
  margin-left: 10px;
  border-radius: 100px;
  font-weight: 400 !important;
  font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .button.secondary {
    -webkit-box-shadow: 0 2px #DADADA;
    -moz-box-shadow: 0 2px #DADADA;
    box-shadow: 0 2px #DADADA; }

p {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #313131;
  font-size: 14px;
  margin-left: 10px; }

.row, .inner-wrap, .off-canvas-wrap {
  height: 100%; }

div#jp_container_N {
  right: 25px; }

.logo {
  width: 181px;
  height: auto;
  -webkit-box-shadow: 0 0 5px #8D8D8D;
  -moz-box-shadow: 0 0 5px #8D8D8D;
  box-shadow: 0 0 5px #8D8D8D;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  position: relative;
  z-index: 3; }

.masterlist {
  border: solid 1px #E0E0E0;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px #D6D6D6;
  -moz-box-shadow: 0 0 10px #D6D6D6;
  box-shadow: 0 0 10px #D6D6D6;
  padding: 10px; }

.filez, .dirz, .back, .artistz, .albumz, .playlist_row_container, #playlist_container ul li {
  cursor: pointer;
  width: 100%;
  background: white;
  color: #252525;
  font-size: 10pt;
  text-shadow: 0 1px white;
  font-weight: 300;
  border-bottom: solid 1px #b4b4b4;
  padding: 13px 10px; }
  .filez:hover, .dirz:hover, .back:hover, .artistz:hover, .albumz:hover, .playlistz:hover, #playlist_container ul li:hover {
    background-color: #F5F5F5; }

.dirz {
  padding: 10px; }

.deletePlaylist{
  width: 29px !important;
  height: 33px;
  background-color: 	rgba(255,0,0, .7);
  float: right;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
  font-size: 28px;
  text-shadow: 0 1px darkred;
  padding-bottom: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 0.9;
}

.deletePlaylist:hover{
  opacity: 1;
  background-color: 	rgba(255,0,0, .85);
}

.playlistz{
  display: block;
  padding: 10px;
  width: calc(100% - 29px);
  float: left;

}

.playlist_row_container{
  list-style-type: none;
  overflow: hidden;
  padding: 0 !important;
}

#playlist_container ul {
  margin: 0;
 }

#playlist_container ul li {
    list-style-type: none;
    overflow: hidden; }

.dirz:hover {
  background-color: rgba(230, 154, 23, 0.3); }

.back:hover {
  background-color: rgba(230, 154, 23, 0.3); }

.controls {
  margin-bottom: 10px; }

.add_all {
  clear: both;
  padding: 10px 0 0;
  width: 300px;
  text-transform: uppercase;
  font-weight: 500; }
  .add_all:hover {
    color: #73B9FF; }

ul.jp-controls li {
  list-style-type: none !important; }

#downform {
  position: absolute; }

.controls div {
  cursor: pointer; }

.main-section {
  padding-bottom: 96px;
  position: relative;
  z-index: 1; }

.libraryColumn, .playlistColumn {
  background: rgba(255, 255, 255, 0.8);
  background: white;
  border: 1px solid #cacaca;
  padding: 0; }

.playlistColumn {
  margin-left: 1%;
  width: 100%; }
  .playlistColumn li {
    padding: 0 !important; }
  @media (max-width: 642px) {
    .playlistColumn {
      margin-left: 0; } }
  @media (max-device-width: 643px) {
    .playlistColumn {
      margin-left: 0; } }

.controls {
  float: right;
  padding-top: 10px;
  margin-bottom: 8px; }
  .controls a {
    width: 20px;
    margin: 0px 5px;
    text-align: center;
    float: left;
    opacity: 0.5; }
    .controls a:hover {
      opacity: 1; }

.leftControls a {
  float: right;
  margin-bottom: 5px; }

.noPaddingLeft {
  padding-left: 0 !important; }

.jplay {
  position: fixed;
  bottom: 0;
  width: 100%; }

.jp-audio {
  width: 100% !important;
  position: fixed;
  bottom: 0;
  left: 0; }

h3 {
  padding: 10px 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }

.directoryName {
  font-size: 16px;
  float: right;
  font-weight: 500;

  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:calc(100% - 35px);
}

.backButton {
  display: block;
  float: left;
  margin: 5px 10px 0 10px !important;
  border: 0 !important;
  background: 0 !important;
  padding: 3px 0px 0 0px !important; }

.directoryTitle {
  background-color: #F5F5F5;
  display: block;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  overflow: hidden;
  padding: 7px 0; }

.row {
  margin: 0;
  max-width: none; }

.scraper {
  padding: 5px;
  background: #F5F5F5;
  border: solid 1px #EEE;
  overflow: hidden;
  border-radius: 3px; }
  .scraper label {
    color: #6666ff;
    float: right;
    margin: 0; }
  .scraper input {
    margin: 0 5px 0 0; }

.closeit {
  float: right;
  color: #ACACAC;
  border: solid 2px #CACACA;
  background-color: #E9E9E9;
  padding: 5px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 15px;
  text-transform: lowercase;
  line-height: 7px;
  padding-bottom: 8px;
  margin-top: 6px;
  margin-right: 6px; }
  .closeit:hover {
    color: #555; }
  @media (max-width: 642px) {
    .closeit {
      /*position: absolute;*/
      margin-left: -20px;
      margin-top: 8px; } }

.jp-current-time {
  position: relative;
  left: 110px;
  top: 10px; }

.jp-duration {
  position: relative;
  right: 110px;
  top: 10px; }

.play1 {
  display: block;
  padding: 10px;
  width: calc(100% - 29px);
  float: left; }

@media (min-width: 644px) {
  .content {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left; } }
@media (max-device-width: 643px) {
  .content {
    width: 100%; } }

@media (min-width: 644px) {
  .tabs-content > .content {
    padding: 0;
    display: inline-block !important; } }
@media (max-width: 642px) {
  .tabs-content > .content {
    width: 100%;
    padding-bottom: 50px} }

.tabs dd {
  width: 50%;
  border: 1px solid #CFCFCF;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }
  .tabs dd:first-child {
    border-right: 0; }
  .tabs dd:last-child {
    border-left: 0; }

.tabs-content {
  height: 100%;
  overflow: hidden;
}

@media (max-device-width: 643px) {
  dl.tabs {
    display: none; } }

.clearing-thumbs li {
  float: left !important;
  margin: 0px 3px 10px !important;
  width: auto !important; }

.search_db {
  max-width: 300px;
  margin: 10px !important;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important; }

.searchList h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  border-bottom: solid 1px #d0d0d0; }
.searchList ul {
  margin: 0; }
.searchList li {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  list-style-type: none; }
  .searchList li:hover {
    background: #313131;
    color: #f9f9f9;
    cursor: pointer; }
