
.mstream-player{
  width:100%;
  height: 80px;
  overflow: hidden;
  /*box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);*/
  background-color: #333333;
}

.player-ticker-layer{
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.player-button-layer{
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.previous-button{
  position:relative;
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  /*box-shadow: 5px 0 8px -2px rgba(31, 73, 125, 0.8), -5px 0 8px -2px rgba(31, 73, 125, 0.8);*/
  cursor:pointer;
}
.play-pause-button{
  position: relative;
  height: 100%;
  width:40px;
  background-color: rgb(102, 132, 178);
  float:left;
  overflow:hidden;
  cursor:pointer;
  border-radius: 1000px;
}
#play-pause-image{
  padding-left: 3px;
}

.player-overlay-button{
  height: 100%;
  width: calc(100% - 280px);
  background-color: #333333;
  fill: rgb(255, 255, 255);


  float:left;
  position: relative;
  overflow:hidden;
  /*cursor:pointer;*/
  z-index:9;
}
.next-button{
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  cursor:pointer;
  z-index:9;
}
.center{
  top:50%;
  left:50%;
  position: absolute;
  transform:  translate(-50%, -50%);
}
.progress-bar{
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51,.15);
  overflow: hidden;
  cursor: crosshair;
}

.right-group{
  height: 100%;
  position:relative;
  width:80px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  cursor:pointer;
}


.removeSong{
  width: 29px !important;
  height: 33px;
  background-color: 	rgba(255,0,0, .7);
  float: right;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
  font-size: 28px;
  text-shadow: 0 1px darkred;
  padding-bottom: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 0.9;
}

.removeSong:hover{
  opacity: 1;
  background-color: 	rgba(255,0,0, .85);
}
.song-area{
  display: block;
  width: calc(100% - 49px);
  float: left;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

}

.titlebar{
  height: 22px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.2);
  position: absolute;
  /* box-shadow: 3px 3px 3px #888888; */

  overflow: hidden;
  white-space: nowrap; /* This is the secret to make text scroll left-to-right*/
}
.pbar{
  background-color: #27487B;
  height: 100%;
}

.playing{
  background-color: #E6EBFA !important;
}


.title-text{
  width: calc(100% - 80px);

  float:left;

  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-family: 'Jura', sans-serif;

  font-weight: bold;
  font-style: normal;
  font-size: 20px;

  padding-bottom: 17px; /* This pushes the scr */
  overflow-x: scroll;
  overflow-y: hidden;

  text-align: center;
}

.duration-text{
  float: right;
  width: 75px;
  font-family: 'Jura', sans-serif;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-size: 20px;

  font-weight: bold;
  font-style: normal;
  text-align: right;
  margin-right: 5px;
}

.aux-button-group{
  position:absolute;
  bottom:0;
  margin-left:10px;
}

.shuffle-button{

}

.remote-button{
  height: 100%;
  width:38px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  cursor:pointer;
  z-index:9;
}

.player-button{
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  cursor:pointer;
  z-index:9;
}


.player-button svg{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  fill: rgb(255, 255, 255);

}


svg {
  display:inline-block;
  vertical-align: middle;
  height:auto;
  max-width: 100%;

}

.repeat-button, .shuffle-button{
  transition: .15s;
}

.repeat-button{
   fill: rgb(255, 255, 255);
 }

.shuffle-button{
fill: rgb(255, 255, 255);
}


.aux-button-active{
 fill:rgb(102, 132, 178);
}


.player-spacer{
  height: 5px;
  width: 100%;
  background-color: #333333;
  overflow: hidden;
}

.fill-white{
  fill: white;
}
