



.mstream-player{
  width:100%;
  height: 70px;
  overflow: hidden;
  box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
}

.left-controls {
  float:left;
  height:100%;
}

.control-buttons {
  height:50px;
}

.volume-control-wrapper {
  width: 150px;
  background-color:#333333;
  padding: 0 5px 0 5px;
}

.previous-button{
  position:relative;
  height: 100%;
  width:50px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  /*box-shadow: 5px 0 8px -2px rgba(31, 73, 125, 0.8), -5px 0 8px -2px rgba(31, 73, 125, 0.8);*/
  cursor:pointer;
}
.play-pause-button{
  position: relative;
  height: 100%;
  width:50px;
  background-color: rgb(102, 132, 178);
  float:left;
  overflow:hidden;
  cursor:pointer;
}

.volume-control-slider {
  position: relative;
  height: 15px;
  width: 100%;
  cursor: pointer;
}

.next-button{
  height: 100%;
  width:50px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  box-shadow: 5px 0 8px -2px rgba(31, 73, 125, 0.8)/*, -5px 0 8px -2px rgba(31, 73, 125, 0.8)*/;
  cursor:pointer;
  z-index:9;
}
.center{
  top:50%;
  left:50%;
  position: absolute;
  transform:  translate(-50%, -50%);
}
.progress-bar{
  height: 100%;
  width: calc(100% - 230px);
  background-color: rgba(51,51,51,.15);
  float:left;
  overflow-x: hidden;
  border-right: 2px solid rgba(51,51,51,.15);
  cursor: crosshair;
}
.right-group{
  height: 100%;


  position:relative;
  width:78px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  box-shadow: 5px 0 8px -2px rgba(31, 73, 125, 0.8), -5px 0 8px -2px rgba(31, 73, 125, 0.8);
  cursor:pointer;
}


.removeSong{
  width: 29px !important;
  height: 33px;
  background-color: 	rgba(255,0,0, .7);
  float: right;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
  font-size: 28px;
  text-shadow: 0 1px darkred;
  padding-bottom: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 0.9;
}

.removeSong:hover{
  opacity: 1;
  background-color: 	rgba(255,0,0, .85);
}
.song-area{
  display: block;
  width: calc(100% - 49px);
  float: left;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

}

.titlebar{
  height: 50%;
  width:calc(100% - 225px);
  background-color: rgba(255, 255, 255,0.75);
  position: absolute;
  box-shadow: 3px 3px 3px #888888;

  overflow-y: hidden;
  white-space: nowrap; /* This is the secret to make text scroll left-to-right*/
}
.pbar{
  background-color: rgb(102, 132, 178);
  height: 100%;
}

.playing{
  background-color: #E6EBFA !important;
}


.title-text{
  width: 100%;
  float:left;


  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;

  margin-top: 10px;

  padding-bottom: 17px; /* This pushes the scr */
  overflow-x: scroll;
  overflow-y: hidden;
}

.duration-text{
  float: right;
  width: 75px;
  color: white;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
  text-align: right;
  margin-right: 5px;
}

.aux-button-group{
  position:absolute;
  bottom:0;
  margin-left:10px;
}

.shuffle-button{
  margin-left: 3px;
}


svg {
  display:inline-block;
  vertical-align: middle;
  height:auto;
  max-width: 100%;

}

.repeat-button, .shuffle-button{
  transition: .15s;
}

.repeat-button{ fill: rgb(255, 255, 255);}

.shuffle-button{
fill: rgb(255, 255, 255);
}


.aux-button-active{
 fill:rgb(102, 132, 178);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.65px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f5f5f5;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
  height: 6.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}