body, html {
  height: 100%; }

body{
  background: url(../img/struckaxiom.png) top left repeat;
}


.header{
  margin: 0;
  padding: 0;
  background-color: #333;
  height:25px;
}

.mstream-image{
  height:100%;
  background-color: white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 5px #8D8D8D;
}

.logo-box{
  overflow-y: visible;
  width: 1px;
  height: 140%;
  margin-left: 35px;
  z-index: 99;
}

.playlist-header{
  height: 48px;
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  background-color: #F5F5F5;
  border-bottom: 1px solid #b4b4b4;
}

.playlist-header-text{
  font-size: 20px;
  font-weight: 500;
  padding-top:16px;
  padding-left: 10px;
}

.playlist-container{
  overflow-y: scroll;
  height:calc(100% - 120px);
  background-color: rgba(250,250,250, .50);
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#playlist{
  list-style: none;
  padding: 0;
}

.playlist-item{
  height:auto;
  border-bottom:solid 1px #b4b4b4;
  position: relative;
  cursor: pointer;
  width: 100%;
  background: white;
  color: #252525;
  font-size: 10pt;
  font-weight: 300;
  overflow: hidden;
  padding: 0 !important;
}

.songDropdown{
  display: none; 
}

.removeSong{
  height: 20px !important;
}

.playlist-item:hover{
  background-color: #F5F5F5;
}

.mstream-player{
  position:absolute;
  bottom:0;
}

.popperMenu {
 display: none;  
}
