.header{
  margin: 0;
  padding: 0;
  background-color: #333;
  height:25px;
}

.mstream-image{
  height:100%;
  background-color: white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 5px #8D8D8D;
}

.logo-box{
  overflow-y: visible;
  width: 1px;
  height: 140%;
  margin-left: 35px;
  z-index: 99;
}

.sub-header{
  height: 48px;
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  background-color: #F5F5F5;
  border-bottom: 1px solid #b4b4b4;
}

.sub-header-text{
  font-size: 20px;
  font-weight: 500;
  padding-top:16px;
  padding-left: 10px;
}


input{
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

label{
  display: inline !important;
  margin: 0 0 0 0 !important;
  clear:both;

  font-size: 14px;
}

label.check-label{
  font-size: 18px;

}

.panel-body{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

.open-dir-textbox{
  width: calc(100% - 88px);
  float: left;
  border-radius: 0px;
}

.ssl-button{
  width: 88px;
}

.open-dir{
  float:left;
  height:36px;
  border-radius: 0px;
}

/*.dir-container::after{
  clear:both;
  content:"";
  display:block;
}*/

.dir-container {
  margin-left:10px;
  margin-right:10px;

}

#port{
  width: 6em;
}

.folder-image{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

}

.pad-left{
  padding-left: 5px;
}
.pad-right{
  padding-right: 5px;
}

input[type=password]{
  margin-top:4px;
}
input[type=text]{
  margin-top:4px;
}
button{
  margin-top:4px;
}

input[type=checkbox]{
width:auto;
margin-top:5px;
}


fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

legend {
    padding: 2px;
}






#kickstart{
  margin-top: 22px;
}

.btn-style{
  border : solid 2px #333;
  border-radius : 3px;
  moz-border-radius : 3px;
  -webkit-box-shadow : 3px 4px 2px rgba(0,0,0,0.4);
  -moz-box-shadow : 3px 4px 2px rgba(0,0,0,0.4);
  box-shadow : 3px 4px 2px rgba(0,0,0,0.4);
  font-size : 20px;
  color : #ffffff;
  padding : 1px 17px;
  background-color : #0a66c9;

  padding: 5px;
}


.hide{
  display: none;
}


#bars {
    height: 50px;
    position: relative;;
    width: 80px;
    margin: auto;
    bottom:0px;

    padding-top:20px;
}

.bar {
   background: rgb(38, 72, 124);
    bottom: 1px;
    height: 6px;
    position: absolute;
    width: 6px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 45px;
    }
}

.bar:nth-child(1)  { left: 2px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 10px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 18px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 26px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 34px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 42px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 50px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 58px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 66px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 74px; animation-duration: 442ms; }​


.nomargin{
  margin-bottom: 0;
}




.info-box{
  padding: 20px;
}


.spacer{
  height:10px;
  clear:both;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#accountModal{
  padding-top:35px;
}

.accountModalHeader{
  margin-top: 12px;
  margin-bottom: 12px;

}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.pfClose {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pfClose:hover,
.pfClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
padding: 2px 16px;
margin-bottom: 25px;
margin-top: 25px;

}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


.checkbox-container{
padding-bottom: 7px;
}

input[type=checkbox] {
position: relative;
margin-right: 10px;
line-height: 14px;
font-size: 25px;
cursor: pointer;
}
input[type=checkbox]:before {
position: absolute;
top: -1px;
left: -1px;
content: "";
height: 15px;
width: 15px;
border: 1px solid #626262;
background: #d3d3d3;
}
input[type=checkbox]:checked:before {
content: "✔";
color: #40A5C6;
}
input[type=checkbox]:hover:before {
border: 1px solid #40A5C6;
}

#pfBtn{
float: right;
}

.info-image{
height: 14px;
cursor: pointer;
}





.ssl-button1{
  height: 100%;
  float: left;
  cursor: pointer;
  border: 1px solid #ccc;
}

.signup-button{
  height: 100%;
  float: left;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-left: 3px;
  margin-right: 3px;

}
.ssl-button3{
  height: 100%;
  float: left;
  cursor: pointer;

}

.sub-ssl{
  height: calc(50% - 1px);
  border: 1px solid #ccc;
}

.twenty{
  width: 30%;
  float: left;
}
.eighty{
  width: 70%;
  float: left;
}

.ssl-svg{
  height: 100%;
  width:35px;
  padding-left: 8px;
}
.ssl-svg3{
  height: 50px;
  padding-top: 2px;
}
.ssl-svg2{
  width: 100%;
  height: 55px;
  margin-top:8px;
}

.relative{
  position: relative;
}

.center{
  text-align: center;
}

.signup-price{
  font-family: "Roboto", helvetica, arial, sans-serif;

  text-align: right;
  padding-right: 15px;
  font-size: 18px;
  padding-top: 10px;

  margin-bottom: 3px;
}

.ssl-overlay{
  position:absolute;
  padding:0;
  margin:0;



  width: 100%;
  height: calc(100% - 45px);
  background:rgba(255,255,255,0.99);
  z-index:99;
}

/*.move_up{
  position: relative;
}

.move_up:hover{
  bottom:3px;
}*/

.move_right{
  position: relative;
}

.move_right:hover{
  left:3px;
}

.bigger-text{
  font-size: 19px;
  margin-top: 12px;
}


#hostname{
  margin-top: 4px;
  width: calc(100% - 5px);
  float: right;
}


#login-signup-panel{
  height: 100%;
  width: 100%;
  display: none;
}

.logged-in-panel{
  height: 100%;
  width: 100%;
  background-color: rgba(50, 194, 77, 0.8);
  display: none;
}


.logged-in-checkmark{
  height: 80%;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 35px;
}

.redtext{
  color: red !important;
}

.loadingsvg {
  display: block;
  margin: auto;
  padding-top: 15px;
}
.loadingsvg rect {
  fill: #76daff;
}

#iHaveATokenButton{
  padding-left: 5px;
}
