/* Page setup */
body {
  overflow: hidden;
  font-family: 'Open Sans Light', sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100vh;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hide {
  display: none;
}
  

/* 2 Columns */
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

.main-left-col {
  width: 200px;
  background-color: #333;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  letter-spacing: 0.5px;
}

.main-right-col {
  height: 100%;
  width: calc(100% - 200px);
  background-color: #f2f2f2;
  overflow-y: scroll;
}


/* left col */
ul.left-nav-menu {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
}

ul.left-nav-menu li {
  padding: 0.35rem 0.9375rem;
  margin: 0;
  color: #DDD;
  cursor: pointer;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul.left-nav-menu li::after {
  content: "";
  clear: both;
  display: table;
}

ul.left-nav-menu li:hover {
  color: #FFF;
}

ul.left-nav-menu li.left-nav-selected {
  font-weight: bold;
  color: #FFF;
  background: #818887;
}

.left-nav-menu svg {
  float: left;
}

.left-nav-menu span {
  float: left;
  padding-left: 12px;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

.left-nav-menu-header{
  color: #EEE;
  padding: 14px 0px 6px 9px;
  font-size: 15px;
}

.boot-server-button-wrapper {
  flex: 1 0 auto;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

.boot-server-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.autoboot-label{
  margin: 0 15px;
  width: 100%;
  text-align: center;
}

#boot-server-button {
  margin: 18px 15px 25px 15px;
  width: 100%;
}

.nav-selected {
  background-color: #505061;
}


/* Right Col */
#switcherMain {
  padding: 5px 12px;
}

/* Folders */
.collapsible-header {
  /* flex-direction: column; */
  display: flex;
}

.select-folder-button {
  width: 180px;
}

.directory-name-field {
  display: inline-block;
  width: calc(100% - 200px);
}

.choose-directory-form {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.section-header {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Jura', sans-serif;
}

.folder-button-group {
  float: right;
}

.row-mod {
  margin-bottom: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#submit-add-user-form {
  width: 100%;
}

.mstream-logo {
  max-height: 100px;
}

.about-content-header {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Jura', sans-serif;
}

.about-content-section {
  padding: .75rem;
}

.text-center {
  text-align: center;
}

.card {
  padding-bottom: 10px;
}

#server-port {
  text-align: right;
}

.port-form-container {
  margin-top: 10px;
}

.transcoding-checkbox {
  margin-top: 22px;
  margin-bottom: 22px;
}

.accordion-header-left {
  flex: 0 0 44px;
}

.user-folders-line {
  display: flex;
}

.accordion-header-right {
  flex: 1;
}

.collapsible-header:hover {
  background-color: #fff8e1;
  transition: background-color 0.4s ease-out;
}

.boot-server-text {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 20px;
}

.remove-ssl {
  position: absolute;
  right: 0;
  margin: 12px;
  opacity: .5;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

.remove-ssl:hover {
  opacity: .8;

}

.security-container {
  display: grid;
}

.ssl-choice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  min-height: 212px;
  grid-column: 1;
  grid-row: 1;
}

.security-diy {
  grid-column: 1;
  grid-row: 1;
}

.signup-button {
  flex: 1;
  cursor: pointer;
  border: 1px solid #ccc;
}

.signup-button:hover {
  background-color: #fff8e1;
  transition: background-color 0.4s ease-out;
}

.diy-button {
  flex: 1;
  cursor: pointer;
  border: 1px solid #ccc;
}

.diy-button:hover {
  background-color: #fff8e1;
  transition: background-color 0.4s ease-out;
}


.ssl-svg3{
  height: 95px;
  width: 100%;
  margin-top: 50px;
}


.center {
  text-align: center;
}

.signup-price {
  font-family: "Roboto", helvetica, arial, sans-serif;

  text-align: right;
  padding-right: 15px;
  font-size: 18px;
  padding-top: 10px;

  right: 0;
  bottom: 0;
  position: absolute;
}

.bigger-text {
  font-size: 19px;
  margin-top: 12px;
}

.logged-in-panel {
  height: 100%;
  width: 100%;
  background-color: rgba(50, 194, 77, 0.8);
  display: none;
}

.logged-in-checkmark {
  height: 80%;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 35px;
}

.no-pad-bot {
  padding-bottom: 0px !important;
}

.pad-15 {
  padding-bottom: 15px;
}

.edit-user-guest{
  padding-top: 15px;

}

.auto-dns-link-button {
  margin-top: 12px;
  float: right;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transition: opacity .3s ease;

}

.login-button {
  margin-top: 6px;
  width: 100%;
}

.auto-dns-selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.auto-dns-selection-item {
  flex: 1;
}

.auto-dns-card {
  height: 100%;
  padding-bottom: 0px !important;
}

.auto-dns-card svg {
  margin-top: 35px;
}

.auto-dns-sign-up-item {
  cursor: pointer;
}

.auto-dns-sign-up-item:hover {
  background-color: #fff8e1;
  transition: background-color 0.4s ease-out;
}

.reset-defaults-link {
  padding-right: 12px;
  float:right;
}