/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f5f5f5;
}
/*.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here /*
  height: 25px;
  background-color: #333333;
  color:#ccc!important;
}/*
.footer .text-muted{
  color:#ccc!important;
}

body, html{
  height: 100%;
  overflow: hidden;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}*/
.container-fluid .text-muted {
  margin-top: 2px
/*  margin-left: 5px;*/
}

.footer > .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}


.bg-gray{
  background-color:#f5f5f5;
}
.marg-top-10{
  margin-top: 10px;
}
.marg-bot-10{
  margin-bottom: 10px;
}
.panel-gray{
  border-color: #333333;
}
.panel-gray>.panel-heading {
      color: #ccc;
    background-color: #333333;
    border-color: #333333;
}
.btn-gray{
  width:100%;
}
.main-container-login{

    padding-top: 10px!important;
    overflow: auto;
    
}
/*.footer{
  height: 115px;
}*/
.form-group{
  margin-bottom:10px;
}
.control-label{
  margin-bottom:0px;
}
.panel-body{
  padding: 0px;
  padding-bottom: 15px;
}
.panel-heading{
  background-color: #333333;
  padding: 10px;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-top: 5px;
}

