body, html {
  height: 100%; }

body {
  overflow: hidden;
  background: url(../img/struckaxiom.png) top left repeat;
  background-position: fixed; }

.clear {
  clear: both; }

.clear:after {
  content: "";
  display: block;
  clear: both;
}

input[type="submit"], input[type="button"] {
  background-color: rgb(147, 151, 205);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(147, 151, 205);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 800;
  font-size: 15px;
  font-family: 'Jura', sans-serif;
}

input[type="submit"]:focus {outline:0;}
input[type="button"]:focus {outline:0;}

.fullHeight   {
  height: 100%;
  overflow: scroll; }

.playlistColumn{
  height: 100%;
  overflow: hidden;
}

.flatline{
  height: 1px;
  width: 100%;
  background: #b4b4b4;
}

.libraryColumn {
  height: 100%;
  overflow: hidden;
}

.current {
background-color: #E6EBFA !important;
}

.scroll {
  overflow-y: scroll;
}

.scrollBoxHeight1{
  height: calc(100% - 60px);
}
@media (min-width: 644px) {
  .scrollBoxHeight1 {
    height: calc(100% - 100px); } }
@media (max-device-width: 643px) {
  .scrollBoxHeight1 {
    height: calc(100% - 60px); } }


.scrollBoxHeight2{
  height: calc(100% - 55px);
}

.scrollBoxHeight3{
  height: calc(100% - 215px);
}
@media (min-width: 644px) {
  .scrollBoxHeight3 {
    height: calc(100% - 215px); } }
@media (max-device-width: 643px) {
  .scrollBoxHeight3 {
    height: calc(100% - 55px); } }

.playerControls{
  height: 90px;
}
.albumArt{
  width: 90px;
  background-color: blue;
  height: inherit;
}

#panel1, #panel2 {
  height: 100%;
}

.ohidden {
  overflow: hidden;
}

.button {
  margin-left: 10px;
  border-radius: 100px;
  font-weight: 400 !important;
  font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .button.secondary {
    -webkit-box-shadow: 0 2px #DADADA;
    -moz-box-shadow: 0 2px #DADADA;
    box-shadow: 0 2px #DADADA; }

p {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #313131;
  font-size: 14px;
  margin-left: 10px; }

.row, .inner-wrap, .off-canvas-wrap {
  height: 100%; }

.logo {
  width: 181px;
  height: auto;
  -webkit-box-shadow: 0 0 5px #8D8D8D;
  -moz-box-shadow: 0 0 5px #8D8D8D;
  box-shadow: 0 0 5px #8D8D8D;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  position: relative;
  z-index: 3; }

.filez, .dirz, .fileplaylistz, .back, .artistz, .albumz, .playlist_row_container, .playlist-item, #playlist_container ul li {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  cursor: pointer;
  width: 100%;
  background: white;
  color: #252525;
  font-size: 10pt;
  font-weight: 400;
  border-bottom: solid 1px #b4b4b4;
  padding: 13px 10px; }
  .filez:hover, .back:hover, .artistz:hover,  .playlistz:hover, .playlist-item:hover #playlist_container ul li:hover {
    background-color: #F5F5F5; }

.dirz {
  float: left;
  position: relative;
  overflow: visible;
  padding: 10px; }


.fileplaylistz {
  float: left;
  position: relative;
  overflow: visible;
  padding: 10px; }

.playlistz{
  display: block;
  padding: 10px;
  width: 100%;
  float: left;
}

.left {
  float: left;
}

.audio-book-bar {
  float: right;
  display: flex;
  height: 100%;
}

.nav-right-icon {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  margin-right: 0px;
  margin-left: 0px;

  display: inline-flex;
}

.nav-right-icon svg {
  height: calc(100% - 2px);
}

.speed-bar {
  width: 100%;
}

.bar-container {
  width: 90px;
}

.relative {
  position: relative;
}

.playlist_row_container{
  list-style-type: none;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
}

#playlist_container ul, .playlist-item {
  margin: 0;
  position: relative;
 }

#playlist_container ul li, .playlist-item {
    list-style-type: none;
    overflow: visible; }

.playlist-item::after {
  content: "";
  display: block;
  clear: both;
}

.dirz:hover, .albumz:hover, .artistz:hover, .playlistz:hover, .fileplaylistz:hover {
  background-color: rgba(230, 154, 23, 0.15); }

.back:hover {
  background-color: rgba(230, 154, 23, 0.3); }


.add_all {
  clear: both;
  padding: 10px 0 0;
  width: 300px;
  text-transform: uppercase;
  font-weight: 500; }
  .add_all:hover {
    color: #73B9FF; }

#search_folders{
  margin-top: 3px;
  width: calc(100% - 99px);
}

#downform {
  display: none;
  position: absolute; }

.controls div {
  cursor: pointer; }

.main-section {
  padding-bottom: 118px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.libraryColumn, .playlistColumn {
  background: rgba(255, 255, 255, 0.8);
  background: white;
  border: 1px solid #cacaca;
  padding: 0; }

.playlistColumn {
  margin-left: 5px;
  width: calc(100% - 5px); }
  .playlistColumn li, .playlist-item {
    padding: 0 !important; }
  @media (max-width: 642px) {
    .playlistColumn {
      margin-left: 0;
      width: 100%;} }
  @media (max-device-width: 643px) {
    .playlistColumn {
      margin-left: 0;
      width: 100%;} }

.controls {
  float: right;
  padding-top: 3px;}
  .controls a {
    width: 20px;
    margin: 0px 5px;
    text-align: center;
    float: left;
    opacity: 0.5; }
    .controls a:hover {
      opacity: 1; }

.rightControls{
  padding-top: 12px;
  margin-bottom: 8px;
}

.noPaddingLeft {
  padding-left: 0 !important; }


h3 {
  padding: 10px 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }

.directoryName {
  font-size: 14px;
  float: left;
  font-weight: 500;

  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:calc(100% - 95px);

  margin-bottom: 0px;
  display: flex;
}

.backButton {
  display: block;
  float: left;
  margin: 5px 10px 0 10px !important;
  border: 0 !important;
  background: 0 !important;
  padding: 3px 0px 0 0px !important; }

.directoryTitle {
  background-color: #e6eaf0;
  display: block;
  overflow: hidden;
  padding: 7px 0; }

.row {
  margin: 0;
  max-width: none; }

@media (min-width: 644px) {
  .content {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left; } }
@media (max-device-width: 643px) {
  .content {
    width: 100%; } }

@media (min-width: 644px) {
  .tabs-content > .content {
    padding: 0;
    display: inline-block !important; } }
@media (max-width: 642px) {
  .tabs-content > .content {
    width: 100%;
    padding-bottom: 50px} }

.tabs dd {
  width: 50%;
  border: 1px solid #CFCFCF;
  font-size: 20px;
  font-weight: 500;
  color: #5a5a5a; }
  .tabs dd:first-child {
    border-right: 0; }
  .tabs dd:last-child {
    border-left: 0; }

.tabs-content {
  height: 100%;
  overflow: hidden;
}

@media (max-device-width: 643px) {
  dl.tabs {
    display: none; } }

.searchList h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  border-bottom: solid 1px #d0d0d0; }
.searchList ul {
  margin: 0; }
.searchList li {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  list-style-type: none; }
  .searchList li:hover {
    background: #313131;
    color: #f9f9f9;
    cursor: pointer; }


.main-overlay{
  position: absolute;

  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: calc(100% - 125px);
  background:rgba(0,0,0,1);
  z-index:99999;
}

.login-icon{
  max-height: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: block;
  margin: auto;
}

.mstream-player{
  position:fixed;
  bottom:0;
}

#share-textarea, #fed-textarea {
  height: 8em;
}
#share_time {
  width: 4em;
  float:left;
}
.share-time-post{
  width: 4em;
}

.metadata-panel-text {
  margin-bottom: 10px;
  margin-top: 0px;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-family: 'Jura', sans-serif;

  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.autoselect{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.meta-box{
  width: 100%;
  height: 160px;
  background: linear-gradient(to bottom right, #605C50, #333333);
  position: relative;
}

.meta-album-art{
  height: 100%;
  width: 150px;
  float: left;
}

.meta-spacer{
  width: 5px;
  float: left;
  height:5px;
}

.meta-info{
  height: 100%;
  width: calc(100% - 155px);
  float: left;
}

.folder-image{
  height: 20px;
  margin-right: 5px;
}

.music-image{
  min-height: 18px;
  min-width: 18px;
  margin-right: 5px;
}

.fileplaylist-image{
  height: 25px;
}

.item-text{
  vertical-align: middle;
}

.hover-fill{
  opacity: 0.6;
}

.hover-fill:hover{
  opacity: 1;
}

.explorer-label-1{
  font-family: 'Jura', sans-serif;

  font-style: normal;
  font-size: 17px;
  line-height: 100%;
}

.album-art-box{
  height: 50px;
  min-width: 50px;
  margin-right: 10px;
}

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}


.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}


#pop {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 3px;
  border: 1.5px solid #ccc;
}

.columnHeader{
  position: relative;
  background-color: white;
  z-index: 999;
}

.columnHeader::after {
  content: "";
  display: block;
  clear: both;
}

#viz-canvas {
  width: 100%;
  height: 100%;
}

[v-cloak] {
  display: none;
}

.upload-progress-bar {
  background-color:#b4b4b4;
  height: 1px;
}

.upload-progress-inner {
  background-color: skyblue;
  box-shadow: 0px 0px 4px 2px rgba(135, 206, 235,0.91);
  height: 100%;
  position: relative;
  z-index:1000;
}

.responsive-left-nav {
  width: 0px;
  height: 0px;
  padding-top: 17px;
  animation: animateleft 0.4s;

  display: block;
  overflow: auto;
  background-color: #505061;
}

.left-nav-menu-header{
  color: #EEE;
  padding: 14px 0px 6px 9px;
  font-size: 15px;
}

@media (max-width: 643px) {
  .responsive-left-nav {
    display: block;
    width: 200px;
    height: calc(100% + 75px);
    position: fixed;
    z-index: 99999999999;
  }

  .nav-logo {
    display: none;
  }

  .hide-on-small {
    display: none;
  }

  .tab-bar-section {
    margin: 0;
    padding: 0 !important;
  }
}

@media (min-width: 644px) {
  .responsive-left-nav {
    width: 200px;
    height: calc(100% + 75px);
    float: left;
  }

  .player-body {
    width: calc(100% - 200px);
    float: right;
  }

  .hamburger-button {
    display: none;
  }
}

ul.left-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.left-nav-menu li {
  padding: 0.3rem 0.9375rem;
  /* text-transform: uppercase; */
  /* background: #444444; */
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
  color: #BBB;
  cursor: pointer;
  font-weight: 800;

  font-family: "Jura", sans-serif;
}

ul.left-nav-menu li:last-child {
  border-bottom: 1px solid #5e5e5e;
}

ul.left-nav-menu li:hover {
  color: #DDD;
}

ul.left-nav-menu li.selected {
  font-weight: bold;
  color: #EEE;
  background: #5a5a6a;
}

.left-nav-menu svg {
  fill: #DDD;
}

ul.left-nav-menu li.selected svg {
  fill: #FFF;
}

.db-status-bar {
  padding-top: 25px;
  min-height: 110px;
}

.aboutModal {
  font-family: 'Jura', sans-serif;
}

.mobile-links {
  display: flex;
  justify-content: space-between;
}

.mobile-placeholder {
  width: 100%;
}

.app-text {
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 500;
  color: #5a5a5a;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.loading-screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.recently-added-input {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 75px;
  height: 19px !important;
  text-align: center;
}

.super-hide {
  display: none !important;
}

input[name="autodj-folders"] {
  cursor: pointer;
}

#autodj-ratings{
  cursor: pointer;
  margin-left: 10px;
  max-width: calc(100% - 20px);
}

#db-search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
}

#search-term {
  border: 3px solid #00B4CC;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  width: 60px;
  height: 37px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;

  padding: 0;
}

.show-fade {
  opacity: 1;
  transition: opacity 400ms;
}
.hide-fade {
  pointer-events: none;
  opacity: 0;
  transition: opacity 400ms;
}

.flex {
  display: flex;
}

.metadata-panel-text span {
  cursor: pointer;
}