
.mstream-player{
  width:100%;
  height: 80px;
  overflow: hidden;
  background-color: #333333;
}

.player-ticker-layer{
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.player-button-layer{
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.previous-button{
  position:relative;
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  /*box-shadow: 5px 0 8px -2px rgba(31, 73, 125, 0.8), -5px 0 8px -2px rgba(31, 73, 125, 0.8);*/
  cursor:pointer;
}
.play-pause-button{
  position: relative;
  height: 100%;
  width:40px;
  background-color: rgb(102, 132, 178);
  float:left;
  overflow:hidden;
  cursor:pointer;
  border-radius: 1000px;
}
#play-pause-image{
  padding-left: 3px;
}

.player-overlay-button{
  height: 100%;
  width: calc(100% - 450px);
  background-color: #333333;
  fill: rgb(255, 255, 255);


  float:left;
  position: relative;
  overflow:hidden;
  /*cursor:pointer;*/
  z-index:9;
}
@media(max-width: 450px) {
  .player-overlay-button{
    width: calc(100% - 280px); } }
@media (max-device-width: 451px) {
  .player-overlay-button {
    width: calc(100% - 280px);} }

.next-button{
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  cursor:pointer;
  z-index:9;
}
.center{
  top:50%;
  left:50%;
  position: absolute;
  transform:  translate(-50%, -50%);
}
.progress-bar{
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51,.15);
  overflow: hidden;
  cursor: crosshair;
}

.right-group{
  height: 100%;
  position:relative;
  width:80px;
  background-color: #333333;
  float:left;
  overflow:hidden;
  cursor:pointer;
}


.song-button-box{
  position: absolute;
  right: 0;
}


.songDropdown:hover, .downloadPlaylistSong:hover, .recursiveAddDir:hover, .addFileplaylist:hover {
  background-color: #9E9E9E;
}

.songDropdown, .downloadPlaylistSong, .recursiveAddDir, .addFileplaylist {
  height: 14px;
  background-color: #B5B5B5;
  float: right;
  text-align: center;
  font-size: 12px;
  font-family: "Arial Black", Gadget, sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.downloadPlaylistSong, .recursiveAddDir, .addFileplaylist {
  min-width: 28px;
  border-right: 1px solid #9E9E9E;
}

.songDropdown {
  min-width: 38px !important;
}

.popperMenu:hover, .downloadDir:hover, .downloadFileplaylist:hover, .fileAddToPlaylist:hover {
  background-color: #9E9E9E;
}

.popperMenu, .downloadDir, .downloadFileplaylist, .fileAddToPlaylist {
  min-width: 28px !important;
  height: 14px;
  background-color: #B5B5B5;
  float: right;
  text-align: center;
  font-size: 12px;
  font-family: "Arial Black", Gadget, sans-serif;
  border-bottom-left-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-right: 1px solid #9E9E9E;
  cursor: pointer;
}

#pop-d, #pop-f {
  min-width: 50px;
  background-color: #F5F5F5;

  border-radius: 3px;
  border: 1px solid #b4b4b4;
}

.pop-playlist {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid #9E9E9E;
}

.pop-list-item {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;

  cursor:pointer;
}

.pop-list-item:hover {
  background-color: #E6EBFA;
}

.removeSong, .deletePlaylist, .removePlaylistSong{
  padding-top: 1px;
  cursor: pointer;
  min-width: 28px !important;
  height: 14px;
  background-color: 	rgba(255,0,0, .7);
  float: right;
  text-align: center;
  font-size: 12px;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 0.9;
}

.removeSong:hover, .deletePlaylist:hover, .removePlaylistSong:hover{
  opacity: 1;
  background-color: 	rgba(255,0,0, .85);
}

.deletePlaylist, .removePlaylistSong {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  border-bottom-left-radius: 3px;
}

.song-area{
  display: block;
  width: calc(100% - 26px);
  float: left;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 6px;
}

.drag-handle{
  cursor: move;
  float: left;
  padding-left: 6px;
  padding-top: 10px;
}

.playError {
  background-color: lightcoral;
}

.drag-handle img{
  width: 20px;
}

.titlebar{
  height: 22px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.2);
  position: absolute;
  /* box-shadow: 3px 3px 3px #888888; */

  overflow: hidden;
  white-space: nowrap; /* This is the secret to make text scroll left-to-right*/
}
.pbar{
  background-color: #27487B;
  height: 100%;
}

.playing{
  background-color: #E6EBFA !important;
}

.star-small{
  height: 13px;
  padding-bottom: 2px;
}

.title-text{
  width: calc(100% - 80px);

  float:left;

  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-family: 'Jura', sans-serif;

  font-weight: bold;
  font-style: normal;
  font-size: 20px;

  padding-bottom: 17px; /* This pushes the scr */
  overflow-x: scroll;
  overflow-y: hidden;

  text-align: center;
}

.duration-text{
  float: right;
  width: 75px;
  font-family: 'Jura', sans-serif;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px #333333;
  color: white;
  font-size: 20px;

  font-weight: bold;
  font-style: normal;
  text-align: right;
  margin-right: 5px;
}

.player-button{
  height: 100%;
  width:40px;
  background-color: #333333;
  float:left;
  position: relative;
  overflow:hidden;
  cursor:pointer;
  z-index:9;
}


.player-button svg{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  fill: rgb(255, 255, 255);

}


svg {
  display:inline-block;
  vertical-align: middle;
  height:auto;
  max-width: 100%;

}

.repeat-button, .shuffle-button{
  transition: .15s;
}

.repeat-button{
   fill: rgb(255, 255, 255);
 }

.shuffle-button{
fill: rgb(255, 255, 255);
}


.aux-button-active{
 fill:rgb(102, 132, 178) !important;
 color: rgb(102, 132, 178) !important;
}

.aux-button-active-2{
  fill: rgb(147, 151, 205) !important;
  color: rgb(147, 151, 205) !important;
}

.player-spacer{
  height: 5px;
  width: 100%;
}

.fill-white{
  fill: white;
}

.volume-bar{
  width: 115px;
  height: 100%;
  float: left;
  margin-right: 10px;
}
@media (max-width: 450px) {
  .volume-bar {
    display: none;}
  }
@media (max-device-width: 451px) {
  .volume-bar {
    display: none;}
  }

.volume-slider{
  margin-top: 17px;
  background-color: #333333;
}


input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  background: #5c5c5c;
  border-radius: 0.8px;
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 28px;
  border-radius: 5px;
  background: #6684b2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5c5c5c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  background: #5c5c5c;
  border-radius: 0.8px;
}
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 28px;
  border-radius: 5px;
  background: #6684b2;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5c5c5c;
  border-radius: 1.6px;
}
input[type=range]::-ms-fill-upper {
  background: #5c5c5c;
  border-radius: 1.6px;
}
input[type=range]::-ms-thumb {
  height: 15px;
  width: 28px;
  border-radius: 5px;
  background: #6684b2;
  cursor: pointer;
  height: 5.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #5c5c5c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5c5c5c;
}

#rg-pregain-info {
  color: rgb(102, 132, 178);
  font-weight: 800;
  font-size: 13px;
  font-family: 'Jura', sans-serif;
  width: 34px;
  padding: 13px 0;
  opacity: 0;
  transition: opacity 0.25s;
  text-align: right;
}

#rg-status {
  transition: opacity 0.25s;
}
